<%# { "layout":"/views/shared/master.html.ejs", "title":"Dashboard" } %>
<oms-app class="container" style="display: block">
    <div class="load5">
        <div class="loader">Loading...</div>
    </div>
</oms-app>